*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}
img{
    width:300px;
    height: 400px;
    float:left;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px ;
}
p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    padding-left: 30px;
    line-height: 1.5;
}
button{
    text-align: center;
    background-color:hsl(158, 36%, 37%);
    display: inline-block;
    padding: 10px 70px ;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 7px;
    border: hsl(158, 36%, 37%);
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    animation-delay: 100ms;
    animation-name: moveFromBottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
svg{
    position: relative;
    top: 3px;
    margin-right: 10px;
}
.background{
    background-color:hsl(30, 38%, 92%);
    width: 1400px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    box-shadow: 3px 5px 10px rgb(217, 216, 216);
    margin-top: 50px;

}
.main{
    width:800px;
    display: inline-block;
    padding: 100px;
}

.secondary{
    width: 300px;
    height: 400px;  
    float: left;
    background-color: #fff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px ;
    text-align: left;

}
.main::after{
    content: "";
    display: inline-block;
    clear: both;
}
.head{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    font-size: 10px;
    padding-left: 30px;
    letter-spacing: 7px;
    padding-top: 30px;
    padding-bottom: 20px;
    animation-name: moveInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
.about{
    font-family: 'Fraunces', serif;
    padding-left: 30px;
    line-height: 0.9;
}
.last{
    padding-bottom: 25px;
}
.fi{
    animation-delay: 20ms;
    animation-name: moveInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
.se{
    animation-delay: 40ms;
    animation-name: moveInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
.last{
    animation-delay: 60ms;
    animation-name: moveInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
p{
    animation-delay: 80ms;
    animation-name: moveInRight;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
.price{
    margin-top: 20px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    position: relative;
}
.cutt{
    display: inline-block;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    text-decoration: line-through;
    position: absolute;
    top: 12px;
    margin-left: 15px;
}
button:hover{
    background-color: hsl(158, 33%, 47%);;
}

@media (max-width:375px){
    img{
        width: 350px;
        height: 250px;
    }
    .main{
        width: 350px;
    }
    .secondary{
        width: 350px;
    }
    .background{
        margin-top: 700px;
    }
}
@keyframes moveInLeft{ 
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        opacity: 0.9;
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        opacity: 0.9;
        transform: translate(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveFromBottom{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    80%{
        opacity: 0.9;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}